.reveal section img {
  display: block;
  margin: auto;
  max-height: 180px;
  padding: 15px !important;
}

.reveal section img.large-img {
  max-height: 310px;
}

.reveal section img.wonk-img {
  margin: 0 10px 0 0;
  transform: rotate(10deg);
  border: none;
  background: none;
  box-shadow: none;
}

.reveal section img.inline {
  display: inline;
}

#thanks li,
#me li {
  font-size: 25px;
  line-height: 1.5;
  list-style: none;
}

img.left,
#thanks img {
  float: left;
  margin: 0 25px;
}

.reveal section .stage-card img,
#app-venture img{
  display: inline;
  max-height: 230px;
}

